<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cl.emphasize"
    android:installLocation="internalOnly">

    <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/blink_note_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/blink_note_app_icon"
        android:supportsRtl="true"
        android:theme="@style/darkTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TextEditorActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".SaveAsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".ChooseFileForWidgetActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BlinkWidget"
            android:label="@string/widget_name_blink">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/blink_widget_info" />
        </receiver>

        <service
            android:name=".WidgetRunnablesService"
            android:stopWithTask="false"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>